body {

     background-color: #f5f5f5;
     color:#555555;

     font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;

    /* same as above*/
    font:normal 14px Arial, helvetica, sans-serif;

    line-height: 1.4em;


}
